<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <h1 class="mat-display-1">Total payments: {{ collection.length }}</h1>
  <mat-card *ngFor="let item of collection">
    <mat-card-content>
      <header class="mat-headline">
        {{ item.name }}
        (<span class="mat-title">{{ item.cost | currency }}</span
        >)
      </header>
      <div class="mat-caption">{{ item.created_at | date }}</div>
    </mat-card-content>
  </mat-card>
  <button class="add" mat-fab (click)="onCreate()">
    <mat-icon>add</mat-icon>
  </button>
</div>
